﻿@using fourpm.Models;
@model customer;

<h2>Registration Succeeded !!</h2>
<br />
<form>
    <input asp-for="id" class="form-control" placeholder="Enter ID" readonly/> <br />
    <input asp-for="name" class="form-control" placeholder="Enter Name" readonly/> <br />
    <input asp-for="mobile" class="form-control" placeholder="Enter Mobile" readonly/> <br />

</form>