﻿@using fourpm.Models;
@model List<customer>;

<h2>@ViewData["title"].ToString()</h2>

<a asp-controller="Macmiil" asp-action="New" class="btn btn-primary">New Customer +</a>

<br />
@{
    string bcolor = "";
}

@if(ViewBag.count > 2)
{
    bcolor = "bg-warning";
}
else
{
    bcolor = "bg-info";
}

<table class="table table-bordered @bcolor">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @* we loop data using razor c# loop*@
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.id.ToString()</td>
                <td>@item.name</td>
                <td>@item.mobile</td>
                <td>
                    <a asp-controller="Macmiil" asp-action="Index">Edit</a>
                    <a asp-controller="Macmiil" asp-action="Index">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<p>we have found @ViewBag.count customer(s).</p>