﻿@using fourpm.Models;
@model customer;

<h2>Register Customer</h2>
<br />
<form method="post" asp-controller="Macmiil" asp-action="Data">
    <input asp-for="id" class="form-control" placeholder="Enter ID"/> <br />
    <input asp-for="name" class="form-control" placeholder="Enter Name" /> <br />
    <input asp-for="mobile" class="form-control" placeholder="Enter Mobile"/> <br />

    <button type="submit" class="btn btn-primary">Send Data</button>

</form>