﻿
<table border="1" width="100%">
    <tr height="400px">
        <td width="70%">
            <p>this is news from aljazera</p>
            </td>
        <td>
  @*          @{
                var data = new List<VoteResult>();
                data.Add(new VoteResult() { party = "Wadani: 60%" });
                data.Add(new VoteResult() { party = "Ucid: 30%" });
                data.Add(new VoteResult() { party = "Kulmiye: 10%" });

            }

            @Html.Partial("_votes", data)*@

                @await Component.InvokeAsync("publicvotes")

        </td>
    </tr>
</table>

@*@section jsscript{
    <script>
        console.log('JS Script code is running');
    </script>
}
*@