﻿
@{
    Layout = "_mainLayout";
}

<p>Tima-ade university waxey ku taalaa suuqa hargeisa. gaar ahaan agagaarka tiyaatarka. kala soo xidhiidh 522222</p>
<div style="background-color:cyan; padding:20px;">
    <p>Tima-ade Courses waxaa weeyi: </p>
    @{
        var data = new List<VoteResult>();
        data.Add(new VoteResult() { party = "Akhwaanul Muslimiin: 60%" });
        data.Add(new VoteResult() { party = "Siisi: 30%" });
        data.Add(new VoteResult() { party = "Others: 10%" });

    }

    @Html.Partial("_votes", data)
</div>