﻿@model Teacher;

<div class="row">
    <div class="col-md-4">
        <h3>
            New Teacher
        </h3>
        <br />

        <form asp-controller="Teacher" asp-action="Create" method="post">

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input type="text" asp-for="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input type="text" asp-for="Mobile" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="text" asp-for="Email" class="form-control" />
            </div>
            <a asp-controller="Teacher" asp-action="Index" class="btn btn-danger">Cancell</a>
            
            <button type="submit"  class="btn btn-primary">Save</button>
            
        </form>

    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>