﻿@model Teacher;

<div class="row">
    <div class="col-md-4">
        <h3>
            Confirm: Do you want to DELETE?
        </h3>
        <br />

        <form asp-controller="Teacher" asp-action="Delete" method="post">

            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input type="text" readonly asp-for="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input type="text" readonly asp-for="Mobile" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="text" readonly asp-for="Email" class="form-control" />
            </div>
            <a asp-controller="Teacher" asp-action="Index" class="btn btn-primary">Cancel</a>
            <button type="submit" class="btn btn-danger">Yes, Delete</button>

        </form>

    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>