﻿@model List<Teacher>;

<h3>All Teachers</h3>

<a asp-controller="Teacher" asp-action="Create" class="btn btn-primary">New +</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id.ToString()</td>
                <td>@item.Name</td>
                <td>@item.Mobile</td>
                <td>@item.Email</td>
                <td>
                    <a class="btn btn-success" asp-controller="Teacher" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-controller="Teacher" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            
        }
    </tbody>
</table>