﻿<html>
<head>
    <title>New Layout</title>
</head>
<body>
    <table border="1" width="100%">
        <tr>
            <td>
                <h2>
                   @Html.Partial("_menu")
                </h2>
            </td>
        </tr>
        <tr>
            <td>
                @RenderBody()
            </td>
        </tr>
        <tr>
            <td>
                <h2>Footer Location</h2>
                @Html.Partial("_menu")
            </td>
        </tr>
    </table>

</body>
</html>