﻿@using fourpm.Models
@model List<voteresults>
<center>
    <h3>Vote Result</h3>
    <ol>
        @foreach(var item in Model)
        {
            <li>@item.party @item.percentage.ToString()%</li>
        }

    </ol>
</center>