﻿@model Teacher;

<h3>New Registeration</h3>

<br />

<form method="post" asp-controller="Teacher" asp-action="Create">
    <div class="form-group">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Mobile" class="form-label"></label>
        <input asp-for="Mobile" class="form-control" />
    </div>

    <a class="btn btn-danger" asp-controller="Teacher" asp-action="Index">Cancel</a>
    <button type="submit" class="btn btn-primary">Save</button>

</form>