﻿@model Teacher;

<h3>Confirm: Do you want to delete?</h3>

<br />

<form method="post" asp-controller="Teacher" asp-action="Delete">
    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" readonly class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" readonly class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Mobile" class="form-label"></label>
        <input asp-for="Mobile" readonly class="form-control" />
    </div>

    <a class="btn btn-primary" asp-controller="Teacher" asp-action="Index">Cancel</a>
    <button type="submit" class="btn btn-danger">Yes, Delete</button>

</form>