﻿@model List<voteresults>

<h2>
    Global Votes
</h2>

<ol>
    @foreach (var item in Model)
    {
        <li>
            <a href="details?magaca=@item.party&tirada=@item.percentage">@item.party - @item.percentage.ToString()%</a>
        </li>
    }
</ol>