﻿@model student;

<h2>After searching the directory we found this student: </h2>
<br />
<b>ID:</b> @Model.id.ToString() <br />
<b>Name:</b> @Model.name <br />
<b>Email:</b>@Model.email <br />

<h3>Page Ended</h3>