﻿@model List<student>;

<h3>Shift 3 Students at Timaade University</h3>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.id.ToString()</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.mobile</td>
                <td>
                    <button class="btn btn-success">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
            
        }
    </tbody>
</table>

<h3>Display in ordered List</h3>
<br />
<ol>
    @foreach(var item in Model)
    {
        <li>
            <b>ID:</b> @item.id.ToString()
            <b>Name: </b> @item.name
            <b>Email: </b> @item.email
        </li>
    }

</ol>