﻿
<center>
    <h3>
        Faahfaahinta Adeegyada Baanka
    </h3>
</center>

<div style="background-color:pink; padding:20px;">
    <img src="~/imgone.png"  style="width:200px; height:200px;"/>
    <br />
    <ol>
        <li>Baanka</li>
        <li>Xawaalada</li>
        <li>Maalgalinta</li>
    </ol>
</div>

<br />
<a asp-controller="Xawaalad" asp-action="Welcome">Go Back</a>