﻿
<center>
    <h2>Kusoo Dhawoow Xawaalada Dahabshiil </h2>
</center>

<p>
    Dahabshiil waxaa la aasaasey 1995 kii.
    waxaa markii ugu horeysey lagu bilaabey 
    xawaalada dibada.
</p>

<br />
<h4>Adeegyada Xawaalada:</h4>
<ol>
    <li>Xawaalada Gudaha</li>
    <li>Xawaalada Dibada</li>
    <li>Adeega Baanka</li>
    <li>Maalgalinta</li>
</ol>

<div style="background-color:cyan; border:1px solid black;">
    <h3>Adeega Baanka:</h3>
    <ul>
        <li>Akoonada caadiga ah</li>
        <li>Akoonada keydka</li>
        <li>Akoonada Maalgashiga</li>
    </ul>


</div>

<a asp-controller="xawaalad" asp-action="adeeg">Click Here</a> si aad u hesho macluumaad dheeriya
