﻿
<hr />
<h2>Money Tranfer</h2>
<hr />
<br />
<form method="post" asp-action="sendmoney" asp-antiforgery="false">
    <input type="text" name="fromaccount" placeholder="Enter From Account" />
    <input type="text" name="toaccount" placeholder="Enter To Account" />
    <input type="text" name="amount" placeholder="Enter Amount" />
    <input type="submit" value="Send Money" />
</form>