﻿@model Category;

<div class="row">
    <div class="col-md-4">
        <h3>
            Confirm: do you want to delete?
        </h3>
        <br />

        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="id" />

            <div class="form-group">
                <label class="control-label">Category Name</label>
                <input type="text" asp-for="name" class="form-control" disabled/>
            </div>
            <br /><br />
            <a asp-action="Index" class="btn btn-primary">Cancel</a>
            <button type="submit" class="btn btn-danger">Yes, Delete !</button>

        </form>

    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>