﻿@model Category;

<div class="row">
    <div class="col-md-4">
        <h3>
            Edit Category
        </h3>
        <br />

        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="id"/>

            <div class="form-group">
                <label class="control-label">Category Name</label>
                <input type="text" asp-for="name" class="form-control" />
            </div>
            <br /><br />
            <a asp-action="Index" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary">Edit</button>

        </form>

    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>