﻿
<h1>Global Votes</h1>

<hr />
<br />
<div class="row col-12" style=" height:350px; margin:15px; padding:10px;background-color:@ViewData["color"]">
    <h3>@ViewData["magaca"] you found @ViewData["tirada"].ToString()%</h3>
    <h4>@ViewData["msg"]</h4>
</div>