﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASC Duniyeey, Kusoo dhowoow Timaade</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<br />
<br />
<img src="/images/img1.jpg" style="width:200px; height:200px;" />

<table width="100%" border="3">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Ahmed Jama</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Gulied Ali</td>
        </tr>
    </tbody>
</table>
