﻿
<table width="100%" border="1">
    <tr height="500px">
        <td width="75%">
            <h3>Welcome to Layout Example 1 View</h3>

        </td>
        <td>
           @* @{
                var data = new List<voteresults>();
                data.Add(new voteresults() { party="Wadani", percentage=50 });
                data.Add(new voteresults() { party = "Kulmiye", percentage = 30 });
                data.Add(new voteresults() { party = "Wadani", percentage = 20 });
            }
            @Html.Partial("_votes",data)*@

            @await Component.InvokeAsync("globalvotes");
        </td>
    </tr>
</table>