﻿

<h3>Welcome to Layout Example 2 View</h3>
@Html.Partial("_menu")
<div style="background-color:antiquewhite; padding:20px;">
    <p>Tima-ade university waxey ku taalaa suuqa hoose ee hargeisa gaar ahaan agagaarka tiyaatarka. kala soo xidhiidh 5232320.</p>
    @{
        var data = new List<voteresults>();
        data.Add(new voteresults() { party = "Ikhwaanul Muslimiin", percentage = 50 });
        data.Add(new voteresults() { party = "Siisi", percentage = 30 });
        data.Add(new voteresults() { party = "Others", percentage = 20 });
    }
    @Html.Partial("_votes",data)
</div>