﻿@model products
<div id="myobj">
    <h3>Product Details</h3>

</div>

<div class="myobj">
    <b>ID:</b> @Model.id.ToString() <br />
    <b>Name:</b> @Model.name <br />
    <b>Category:</b> @Model.category <br />
    <b>Price:</b> @Model.price <br />
</div>

