﻿

<hr />
<h2>Sombank Transfers</h2>
<hr />

<br />

<form method="post" asp-action="sendmoney">
    <input type="text" name="receiver" placeholder="Enter the reciver" />
    <input type="text" name="amount" placeholder="Enter the Amount" />
    <input type="submit" value="Send Money" />
</form>