﻿

<hr />
<h2>Money Transfer</h2>
<hr />
<br />

<form method="post" asp-action="sendmoney">
    <input type="text" name="receiver" placeholder="Enter Receiver Account" /> <br />
    <input type="text" name="Amount" placeholder="Enter Amount" /><br />
    <input type="submit" value="Send Money"  />
</form>
