﻿@model List<student>;


<h3>
    Welcome to Timaade University
</h3>
<h4>username=@ViewData["uname"]</h4>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Class</th>
            <th>Mother</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.id.ToString()</td>
                <td>@item.name</td>
                <td>@item.mobile</td>
                <td>@item.email</td>
                <td>@item.classname</td>
                <td>@item.mother</td>
                <td>
                    <button class="btn btn-success">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
            
        }
    </tbody>

</table>

