﻿@model List<VoteResults>

<h4>Welcome to Global Vote Result</h4>

<ol>
    @foreach(var item in Model)
    {
        <li><a href="details?party=@item.party&percent=@item.perc">@item.party - @item.perc.ToString()%</a></li>
    }
</ol>