﻿@model deposit;

<h3>Guul, Lacagta waa ladirey !!</h3>

<b>Magaca:</b> @Model.accountname <br />
<b>Lacagta:</b> @Model.amount.ToString() <br />
<b>Faahfaahinta:</b> @Model.remarks <br />

<a asp-controller="accountdeposit" asp-action="send">Go Back</a>
