﻿@model deposit;

<h3>Lacag Dirid</h3>
<br />

<form asp-controller="accountdeposit" asp-action="confirm" method="post">
    <label>Magaca Akoonka:</label>
    <input asp-for="accountname"/>
    <br />

    <label>Numberka Akoonka:</label>
    <input asp-for="accountnumber" />
    <br />

    <label>Lacagta:</label>
    <input asp-for="amount"/>
    <br />

    <label>Faahfaahin:</label>
    <textarea asp-for="remarks" cols="20" rows="5"></textarea>
    <br />

    <button type="submit">Send Money</button>

</form>