﻿@model category;

<h3>New Categroy</h3>

<br />

<form method="post" asp-action="Create">
    <div class="row">
        <div class="form-group col-md-4">
            <label class="form-label">Category Name</label>
            <input asp-for="name" class="form-control" />
        </div>
    </div>
    
    <br /><br />
    <a class="btn btn-danger" asp-action="Index">Cancel</a>
    <button type="submit" class="btn btn-primary">Save</button>

</form>