﻿@model category;

<h3>Edit Categroy</h3>

<br />

<form method="post" asp-action="Edit">
    <input type="hidden" asp-for="id" />
    <div class="row">
        <div class="form-group">
            <label class="form-label">Category Name</label>
            <input asp-for="name" class="form-control" />
        </div>
</div>
   
    <br /><br />
    <a class="btn btn-danger" asp-action="Index">Cancel</a>
    <button type="submit" class="btn btn-primary">Update</button>

</form>