﻿<html>
<head>
    <title>Website Title</title>
</head>
<body>

    <table width="100%">
        <tr>
            <td>
                <h2>
                    @Html.Partial("_menu")

                </h2>
            </td>
        </tr>
        <tr>
            <td>
                @RenderBody()
            </td>
        </tr>
        <tr>
            <td>
                <h2>Footer Location</h2>
                @Html.Partial("_menu")
            </td>
        </tr>
    </table>

    @RenderSection("jsscript",required:false)

</body>
</html>