﻿<table>
    <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/home/layoutexample">Somaliland</a></td>
        <td><a href="/home/layoutexample2">Egypt</a></td>
        <td><a href="/news/index">News</a></td>
        <td><a href="/student/index">Student</a></td>
        <td><a href="#">Login</a></td>
    </tr>
</table>