﻿@using shift3.Models
@model List<VoteResult>
<div style="background-color:antiquewhite; padding:20px;">
    <center>
        <h2>Votes</h2>
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.party</li>
            }
        </ul>
    </center>
</div>