﻿@using fourpm.Models;
@model MyData;

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-4">
        @if ((bool)ViewData["is_hidden"] == true)
        {
            <div style="background-color:cyan; padding:10px;">
                <h2>Calculator</h2>

                <form method="post" asp-action="New">
                    <input asp-for="numberone" type="number" placeholder="Enter Number 1" class="form-control" /> <br />
                    <input asp-for="numbertwo" type="number" placeholder="Enter Number 2" class="form-control" /> <br />
                    <input asp-for="opr" type="text" placeholder="Enter Operator" class="form-control" /> <br />
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </form>

            </div>
        }
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        @if ((bool)ViewData["is_hidden"] == false)
        {
            <div style="background-color:orchid; color:black; padding:10px;">
                @if (ViewData["total"] != null)
                {
                    <p>Total: <b>@ViewData["total"].ToString()</b></p>

                }
                <a asp-controller="Calculator" asp-action="New" class="btn btn-primary">Back</a>
            </div>

        }

    </div>

</div>